In [1]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 11.9/11.9 MB 5.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp38-cp38-win_amd64.whl size=247946 sha256=a1dd179023b1cd7f3d16da56a182562ae2e5c00f2d42954e96ae1dd6362be5e3
  Stored in directory: c:\users\votri\appdata\local\pip\cache\wheels\57\e4\98\5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Note: you may need to restart the kernel to use updated packages.Successfully installed mysql.connector-2.2.9

[notice] A new release of pip is available: 23.0 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import mysql.connector

In [3]:
data = pd.read_csv("linkedin-jobs.csv")
data

,Title,Company,Location,Apply,Job Description,Date,Company Link
0,Marketing Communications Coordinator,"JCDecaux North America, Inc.","New York, NY",https://www.linkedin.com/jobs/view/marketing-c...,About JCDecauxJCDecaux is the #1 outdoor adver...,2023-06-22,https://www.linkedin.com/company/jcdecaux-n.a....
1,Title,Company,Location,Apply,Job Description,Date,Company Link
2,Marketing Assistant,Los Angeles Philharmonic,"Los Angeles, CA",https://www.linkedin.com/jobs/view/marketing-a...,Job DescriptionThe Los Angeles Philharmonic As...,2023-06-23,https://www.linkedin.com/company/los-angeles-p...
3,"Assistant, Marketing - Black Music",Warner Music Group,"New York, NY",https://www.linkedin.com/jobs/view/assistant-m...,"Job Description:At Warner Music Group, we’re a...",2023-06-28,https://www.linkedin.com/company/warner-music-...
4,"Associate, Marketing",Grubhub,"New York, NY",https://www.linkedin.com/jobs/view/associate-m...,About The OpportunityWe’re all about connectin...,2023-06-21,https://www.linkedin.com/company/grubhub-seaml...
...,...,...,...,...,...,...,...
990,Packer (8am-8pm),Genpak,"Middletown, NY",https://www.linkedin.com/jobs/view/packer-8am-...,NaN,NaN,https://www.linkedin.com/company/genpak?trk=pu...
991,Junior Marketing Representative,New Age Marketing Inc,"Belmont, NC",https://www.linkedin.com/jobs/view/junior-mark...,Our management team is looking to fill this po...,2023-06-28,https://www.linkedin.com/company/new-age-marke...
992,Human Resources Coordinator,Brightland Homes,"Addison, TX",https://www.linkedin.com/jobs/view/human-resou...,NaN,NaN,https://www.linkedin.com/company/brightlandhom...
993,Client Service Representative,Mars Veterinary Health,"Fort Lauderdale, FL",https://www.linkedin.com/jobs/view/client-serv...,NaN,2023-06-11,https://www.linkedin.com/company/mars-veterina...
994,Business Development & Marketing Coordinator,Foley & Lardner LLP,"San Diego, CA",https://www.linkedin.com/jobs/view/business-de...,NaN,2023-06-22,https://www.linkedin.com/company/foley-&-lardn...

In [4]:
data = data.fillna('')

In [5]:
#Connect to SQL Server
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "job_scraping"
)

cursor = mydb.cursor()

# cursor.execute('''
#                 CREATE TABLE Marketing_Job (
#                     Job_title varchar(200),
#                     Company_name varchar(100),
#                     Location varchar(100),
#                     Apply varchar(300),
#                     Job_description varchar(2000000),
#                     Date varchar(50),
#                     Company_link varchar(300)
#                 )
# ''')

query = "INSERT INTO Marketing_Job (Job_title, Company_name, Location, Apply, Job_description, Date, Company_link) VALUES (%s, %s, %s, %s, %s, %s, %s)"

# Iterate over each row in the DataFrame and insert the values into the table
for _, row in data.iterrows():
    values = (
        row['Title'],
        row['Company'],
        row['Location'],
        row['Apply'],
        row['Job Description'],
        row['Date'],
        row['Company Link']
    )
    cursor.execute(query, values)

# Commit the changes to the database
mydb.commit()

# Close the cursor and database connection
cursor.close()
mydb.close()

c:\users\votri\appdata\local\programs\python\python38\lib\site-packages\mysql\connector\abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':
c:\users\votri\appdata\local\programs\python\python38\lib\site-packages\mysql\connector\abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)